.starting-grid-card {
  background: #181c2f;
  border-radius: 18px;
  box-shadow: 0 4px 32px rgba(0, 0, 0, 0.25);
  padding: 32px 24px;
  color: #fff;
  flex: 1;
  min-width: 280px;
  max-width: 400px;
  max-height: fit-content;
  margin: 20px 0 20px 20px;

}

.starting-grid-title {
  color: #b0b3c6;
  font-weight: 700;
  padding-bottom: 8px;
}

.starting-grid-layout {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px 16px;
  justify-content: center;
}

.grid-item {
  display: flex;
  align-items: center;
  background: #23284a;
  border-radius: 8px;
  padding: 8px;
  min-height: 70px;
  position: relative;
  overflow: hidden;
}

.grid-item:hover {
  filter: brightness(1.2);
}

.starting-grid-layout .grid-item:nth-child(even) {
  margin-top: 20px;
}

.starting-grid-layout .grid-item:nth-child(odd) {
  margin-bottom: 20px;
}

.grid-left {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-right: 16px;
  flex-shrink: 0;
}

.grid-driver-img {
  background-color: #fff3;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #fff3;
}

.grid-position {
  font-weight: 700;
  font-size: 1.2em;
  color: #f857a6;
  text-align: right;
  width: 28px;
  margin-right: 6px;
}

.grid-right {
  display: flex;
  align-items: center;
  flex: 1;
}

.grid-driver-code {
  font-weight: 600;
  font-size: 1.1em;
  color: #fff;
  position: relative;
  z-index: 1;
}

.grid-driver-code::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  border-radius: 2px;
}
